/* Colors

Main Background = #fff6c5
Header and Footer = #a1e8d9
Text = #695d46
Accent = #ff712c
Alt = #cfc291


 */

 /* Fonts

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

*/


/* ---------- Text Color Classes ---------- */

.text-main {
    color: #695d46;
}

.text-accent {
    color: #ff712c;
}

.text-bg-main {
	color: #fff6c5;
}

.text-bg-accent {
	color: #a1e8d9;
}


/* ---------- Background Color Classes ---------- */

.bg-main {
    background-color: #fff6c5;
}

.bg-accent {
    background-color: #a1e8d9;
}

.bg-alt {
    background-color: #cfc291;
}


/* ---------- Button Color Classes ---------- */

.btn-primary {
    background-color: #695d46;
	border: 1px solid #695d46;
}

.btn-primary:hover {
	background-color: #ff712c;
	border: 1px solid #ff712c;
}

.btn-outline-primary {
	background-color: transparent;
	border: 1px solid #695d46;
	color: #695d46;
}

.btn-outline-primary:hover {
	background-color: #ff712c;
	border: 1px solid #ff712c;
	color: #a1e8d9;
}


/* ---------- Show and Hide ---------- */

.hidden {
    display: none;
}

.show {
    display: inherit;
}


/* ---------- Layout General Styling ---------- */

a:hover {
    cursor: pointer;
}

body {
    color: #695d46;
}

#loginButton {
	margin-right: 5px;

}

#signUpButton {
	margin-left: 5px;
}

main {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #695d46;
}

#mainShout {
	margin: 0 10px;
}

#socialChecks a {
	margin: 5px;
}

#sideBar {
	position: absolute;
	padding-top: 56px;
	left: -33%;
	width: 33%;
	top: 0;
	height: 100%;
	transition: 1s;
}

.tooltip-inner {
	color: #fff6c5;
	background-color: #ff712c;
}

footer {
    height: 56px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

nav {
    color: #695d46;
}

#loginName {
	margin-right: 10px;
}

#loginPassword {
	margin-right: 10px;
}


/*#layout {
    display: flex;
	flex-direction: column;
	align-items: center;
	color: #695d46;
}

header {
    flex-direction: row;
    background-color: #a1e8d9;
}

main {
    flex-direction: row;
    background-color: #fff6c5;
}

footer {
    flex-direction: row;
    background-color: #a1e8d9;

}*/
