/* ---------- Colors ---------- */
/* Backgrounds */
/* Texts */
/* ---------- Fonts ---------- */
/* ---------- Spacing Values ---------- */
/* CSS */
button {
  cursor: pointer; }

a:hover {
  cursor: pointer; }

body {
  color: #695d46; }

.tooltip-inner {
  color: #fff6c5;
  background-color: #ff712c; }

#loginName {
  margin-right: 10px; }

/* ---------- Options Aside ---------- */
#optionsAside .fa-cloud, .fa-sign-out {
  margin: 0 10px; }

/* ---------- Authorization Squares ---------- */
#socialAuthorization {
  flex-direction: column;
  text-align: center; }

#socialAuthorization .fa {
  padding: 0 10px; }

#individualAuthorization {
  flex-direction: column;
  text-align: center; }

/* ---------- Text Color Classes ---------- */
.text-main {
  color: #695d46; }

.text-accent {
  color: #ff712c; }

.text-bg-main {
  color: #fff6c5; }

.text-bg-accent {
  color: #a1e8d9; }

/* ---------- Background Color Classes ---------- */
.bg-main {
  background-color: #fff6c5; }

.bg-accent {
  background-color: #a1e8d9; }

.bg-alt {
  background-color: #cfc291; }

/* ---------- Button Color Classes ---------- */
.btn-primary {
  background-color: #695d46;
  border: 1px solid #695d46; }

.btn-primary:hover {
  background-color: #ff712c;
  border: 1px solid #ff712c; }

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #695d46;
  color: #695d46; }

.btn-outline-primary:hover {
  background-color: #ff712c;
  border: 1px solid #ff712c;
  color: #a1e8d9; }

/* ---------- Show and Hide ---------- */
.hidden {
  display: none; }

.show {
  display: inherit; }

.navbar {
  color: #695d46;
  height: 15vh;
  box-shadow: 0px 1px 1px #cfc291; }
  .navbar #leftNav {
    display: flex;
    justify-content: flex-start;
    width: 40%; }
  .navbar #middleNav {
    display: flex;
    width: 20%;
    justify-content: center; }
  .navbar #rightNav {
    display: flex;
    width: 40%;
    justify-content: flex-end; }
  .navbar button[value="submit"] {
    margin-left: 0.5vw;
    margin-right: 0.5vw; }

#navOutput {
  padding-left: 1vw;
  padding-right: 1vw; }

#signedInAside {
  text-align: center; }

#loginButton {
  margin-right: 5px; }

#signUpButton {
  margin-left: 5px; }

#mainShoutDiv {
  text-align: center;
  width: 100%; }

#welcomeScreen {
  text-align: center; }

#optionsBar {
  position: absolute;
  padding-top: 15vh;
  padding-bottom: 10vh;
  right: 0;
  width: 0;
  top: 0;
  height: 100%;
  background-color: #cfc291;
  transition: 1s;
  overflow-y: scroll; }
  #optionsBar .networkOptions {
    width: 100%; }
    #optionsBar .networkOptions form div {
      margin-left: 1vw;
      margin-right: 1vw; }
    #optionsBar .networkOptions input[type="text"] {
      width: 100%;
      margin: 1vh auto; }
    #optionsBar .networkOptions input[type="radio"] {
      margin: 1vh 1vw; }
    #optionsBar .networkOptions textarea {
      width: 100%;
      margin: 1vh auto; }
  #optionsBar h4 {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh; }

main {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #695d46; }

#mainShout {
  margin: 0 10px;
  width: 30%; }

#socialChecks a {
  margin: 5px; }

#sideBar {
  position: absolute;
  padding-top: 15vh;
  padding-bottom: 10vh;
  left: -33%;
  width: 33%;
  top: 0;
  height: 100%;
  transition: 1s;
  overflow-y: scroll; }

footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
