/* ---------- Colors ---------- */

/* Backgrounds */
$mainBackground: #fff6c5;
$accentBackground: #a1e8d9;
$altBackground: #cfc291;

/* Texts */
$mainText: #695d46;
$accentText: #ff712c;

 /* ---------- Fonts ---------- */

$mainFont: 'Raleway', sans-serif;
$accentFont: 'Open Sans', sans-serif;

/* CSS */
